@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: "Roboto", sans-serif;
  font-family: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 15px 30px;
}
/* utility classes */

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  align-items: center;
}
.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}
.hover-link:hover {
  color: var(--accent-color);
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 8px;
  font-weight: 700;
  color: #fff !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-button:hover {
  background-color: var(--accent-color-dark);
}
.secondary-button {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 8px;
  font-weight: 700;
  color: var(--primary-text-color);
  padding: 12px 24px;
  transition: 0.2s ease-out;
}

.secondary-button:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* top banner */
.top-banner {
  background-color: #4fb3d4;
  background-image: url(./assets/asset\ 18.png);
  background-size: 300px;
}

.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}

.company-logo img {
  width: 200px;
}
.nav-links {
  flex-basis: 730px;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}
/* header section */

header {
  padding: 50px var(--padding-inline-section) 0;
}
.header-section {
  justify-content: center;
  gap: 50px;
}
.header-left {
  max-width: 40vw;
}
.header-left h1 {
  margin-top: 20px;
}
.get-started-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
}

.header-right img {
  width: 550px;
}
/* companies section */

.company-text {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding: 15px 30px;
}
/* companies-header */

.companies-header {
  text-align: center;
  margin-block: 25px;
  color: var(--primary-text-color);
}
.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  height: 46px;
}
/* features section */
.features-section {
  padding: 80px var(--padding-inline-section) 0;
  background-image: url(./assets/asset\ 19.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.features-header {
  text-align: center;
}
.features-header h2 {
  margin-bottom: 20px;
}
.features-area {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 30px;
}
.features-card {
  text-align: center;
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
}
/* .big feature section */

.big-feature-section {
  padding: 30px var(--padding-inline-section) 0;
}
.big-feature-container {
  gap: 30px;
}
.feature-img img {
  width: 100%;
}
.features-card img {
  width: 60px;
}
.feature-desc {
  flex-direction: column;
  align-items: flex-start;
}
.examples-section {
  padding: 30px var(--padding-inline-section) 0;
  text-align: center;
}
.examples-header {
  flex-direction: column;
  gap: 20px;
}
.examples-area {
  margin-block: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.examples-card {
  width: 23%;
  position: relative;
  min-height: 280px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.examples-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1;
}
.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;

  padding: 10px;
  z-index: 2; /* Ensure text is above the overlay */
}
.cta-section {
  padding: 120px var(--padding-inline-section) 80px;
  background-color: #183b54;
}
.cta-section-container {
  flex-direction: column;
  gap: 30px;
  color: white;
}
.cta-section-container p {
  color: white;
  margin-top: 20px;
}
footer {
  padding-block: 80px;
  background-color: #ebf2fa;
}
.footer-container {
  align-items: flex-start;
  justify-content: space-between;
}

.link-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.subfooter {
  background-color: #b9cde4;
}
.sub-footer-container {
  padding: var(--padding-inline-section);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
